@value makerGreen, makerWhite, makerGrey from '../../common/color.css';

.editor {
    flex-basis: 50%;
    border-right: 1px solid makerGrey;
    padding: 0.5em 2em;
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: makerGreen;
}